openapi: 3.0.3

info:
  title: AgentMail API
  description: Programmatic email inboxes designed for AI agents.
  version: 0.0.1

servers:
  - url: https://api.agentmail.to
    description: Production

security:
  - BearerAuth: []

paths:
  /v0/inboxes:
    get:
      operationId: listInboxes
      summary: List inboxes
      description: Returns a paginated list of inboxes.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Maximum number of inboxes to return per page.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor returned by a previous list response.
      responses:
        "200":
          description: A paginated list of inboxes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxCollection"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      operationId: createInbox
      summary: Create an inbox
      description: Creates a new inbox. All fields are optional — AgentMail will generate a random username if one is not provided.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInboxRequest"
      responses:
        "200":
          description: The newly created inbox.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Inbox"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/ServerError"

  /v0/inboxes/{inbox_id}:
    parameters:
      - name: inbox_id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the inbox.

    get:
      operationId: getInbox
      summary: Get an inbox
      description: Retrieves a single inbox by its ID.
      responses:
        "200":
          description: The requested inbox.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Inbox"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

    patch:
      operationId: updateInbox
      summary: Update an inbox
      description: Updates the display name of an inbox.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInboxRequest"
      responses:
        "200":
          description: The updated inbox.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Inbox"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/ServerError"

    delete:
      operationId: deleteInbox
      summary: Delete an inbox
      description: Permanently deletes an inbox.
      responses:
        "200":
          description: Inbox deleted successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Pass your AgentMail API key as a Bearer token.

  schemas:
    Inbox:
      type: object
      required:
        - inbox_id
        - pod_id
        - created_at
        - updated_at
      properties:
        inbox_id:
          type: string
          description: Unique identifier for the inbox.
          example: inbox_abc123
        pod_id:
          type: string
          description: Identifier of the pod the inbox belongs to.
          example: pod_xyz789
        display_name:
          type: string
          nullable: true
          description: Human-readable display name, e.g. `"Support Agent <support@agentmail.to>"`.
          example: "Support Agent <support@agentmail.to>"
        client_id:
          type: string
          nullable: true
          description: Optional client identifier for grouping inboxes.
          example: my-app-client-id
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the inbox was created.
          example: "2024-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the last update.
          example: "2024-01-02T00:00:00Z"

    InboxCollection:
      type: object
      required:
        - inboxes
        - count
      properties:
        inboxes:
          type: array
          items:
            $ref: "#/components/schemas/Inbox"
          description: The list of inboxes for the current page.
        count:
          type: integer
          description: Number of inboxes returned in this response.
          example: 10
        limit:
          type: integer
          nullable: true
          description: The page size limit that was applied.
          example: 20
        next_page_token:
          type: string
          nullable: true
          description: Cursor to pass as `page_token` to fetch the next page. `null` when on the last page.
          example: "eyJwb2RfaWQiOiJwb2RfeHl6In0="

    CreateInboxRequest:
      type: object
      properties:
        username:
          type: string
          description: Desired local part of the email address. Auto-generated if omitted.
          example: support
        domain:
          type: string
          description: Domain for the inbox. Defaults to AgentMail's shared domain if omitted.
          example: agentmail.to
        display_name:
          type: string
          description: Human-readable display name.
          example: Support Agent
        client_id:
          type: string
          description: Optional client identifier for grouping inboxes.
          example: my-app-client-id

    UpdateInboxRequest:
      type: object
      required:
        - display_name
      properties:
        display_name:
          type: string
          description: New display name for the inbox.
          example: "Support Agent <support@agentmail.to>"

    AgentmailError:
      type: object
      required:
        - name
        - message
      properties:
        name:
          type: string
          description: Machine-readable error name.
          example: NotFoundError
        message:
          type: string
          description: Human-readable error description.
          example: Inbox not found.

  responses:
    Unauthorized:
      description: Authentication failed. Check your API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AgentmailError"
          example:
            name: UnauthorizedError
            message: Invalid or missing API key.

    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AgentmailError"
          example:
            name: NotFoundError
            message: Inbox not found.

    ValidationError:
      description: The request body failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AgentmailError"
          example:
            name: ValidationError
            message: "username: must be alphanumeric."

    ServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AgentmailError"
          example:
            name: InternalServerError
            message: An unexpected error occurred.
